@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.twitterIcon{
    height: 30px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row2{
    margin-top: -20px;
}

.area-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
.cell {
    flex: 1 1 10px;
}
.heading{
    text-align: left;
    margin-left: 25px;
    color: #3c1874;
    font-size: 22.50px;
}

.subheading{
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 25px;
    text-align: left;
    color: #932432;
}

.subheading-content{
    font-size: 15px;
    padding-left: 5px;
    color: #283747;
}

.area-subheading-content{
    font-size: 15px;
    margin-top: 0px;
    padding-left: 5px;
    line-height: 0.8;
}

.media-parent{
    margin-left: 25px;
}

.media-section{
    width: 290px !important;
    height: 350px !important;
    object-fit: cover !important;
}

.flex-container {
    display: flex;
    padding-right: 25px;
    margin-right: 5px;
    /* border-bottom: 1px solid black; */
}

.flex-container>div {
    margin: 5px;
    padding: 5px;
}

.tweet-text{
    font-size: 15px;
    color: #283747;
    margin-bottom: -7.5px;
}

.tweet-date{
    font-size: 15px;
    padding-bottom: 0px;
    color: #932432;
}
a:visited, a:active, a:link{
    color: initial;
    text-decoration: none;
}

.media-top{
    width: 80%;
    margin-left: 25px; 
}

.pagination{
    margin-top: 10px;   
}

/* To change the background color of Pagination buttons */
.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: #3c1874 !important;
}

.main-heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #de354c;
}

.location-dropdown{
    margin-top: 15px;
    width: 75%;
    color: #932432 !important;
}

.location-dropdown-select{
    color: #283747 !important;
}
/* To change the border color of the "Location" dropdown */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #283747 !important;
}
/* To change around the width of "Location" text */
.css-1in441m{
    width: 60px !important  ;
}

#demo-simple-select-label{
    color: #283747;
}

.top-icons{
    margin-top: 15px;
    padding-top: 5px;
    transform: scale(1.1);
}

@media screen and (max-width: 470px) {
    .main-heading {
        font-family: 'Ubuntu', sans-serif;
        font-size: 22.5px;
        font-weight: 700;
        padding-top: 15px;
    }

    .parent-heading{
        width: 50% !important;
        padding-left: 25px !important;
    }

    .parent-location-drowpdown{
        width: 72.5% !important;
        padding-top: 0px !important;
    }

    .location-dropdown {
        width: 80%;
        transform: scale(0.75);
        margin-top: 0px;
        margin-left: -8px;
    }

    .parent-top-icons{
        margin-top: -80px;
        padding-right: 5px !important;
    }

    .top-icons {
        transform: scale(1);
    }

}